﻿@model  Task24.Models.Supervisor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib//bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>AddSupConfirmation</title>
</head>
<body>
    <div class="text-center">
        <h2 class="text-info">
            @Model.Name has been added to the list of supervisors.
        </h2>
        <a class="btn-lg" asp-action="AllSupervisors">View all supervisors</a>
    </div>

</body>
</html>
