﻿@model List<Task24.Models.Supervisor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib//bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>AllSupervisors</title>
</head>
<body class="text-center">

        @foreach (Supervisor supervisor in Model)
        {
            <p class="text-muted">
                <b>Name: </b>
                <b> @supervisor.Name </b>
                <b>Id: </b>
                <b> @supervisor.Id </b><br />
            </p>
         }

</body>
</html>
