﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib//bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div class=" text-center">
       <h1> @ViewBag.DateandTime <br /> </h1>
    </div>

    <div class="text-center">
        <a class="btn btn-success" asp-action="SupInfo">
            Info on supervisors
        </a>
    </div>
</body>
</html>
