﻿@model  Task24.Models.Supervisor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib//bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>SupInfo</title>
</head>
<body>
    <form class="text-center" asp-action="SupInfo" method="post">
        <div asp-validation-summary="All"></div>

        <p>
            <label class="text-success" asp-for="Id">Supervisor Id:</label> <br />
            <input class="input-lg" asp-for="Id" />
        </p>

        <p>
            <label class="text-success" asp-for="Name">Supervisor name:</label> <br />
            <input class="input-lg" asp-for="Name" />
        </p>

        <button class="btn-success" type="submit">Add</button>
    </form>
</body>
</html>
